<h2><span>Räuber/Beute mit Kapazität</span></h2>

<div>
	<div class="col col-33 formula">
		<p class="formula">
			<span class="textrm">Beute:</span>
			<span class="fraction"><span class="enumerator">dx</span><span class="numerator">dt</span></span>
			= ax(1-x/K) &minus; bxy
			<br>
			<span class="textrm">Räuber:</span>
			<span class="fraction"><span class="enumerator">dy</span><span class="numerator">dt</span></span>
			= cxy &minus; dy
		</p>
	</div>
	<div class="col col-33 simulation"></div>
	<div class="col col-33 trajectories"></div>
</div>