<h2><span>Chaos</span></h2>


<div class="col col-100">
	<p class="formula">
		<span class="fraction"><span class="enumerator">dx</span><span class="numerator">dt</span></span>
		= y <br>
		<span class="fraction"><span class="enumerator">dy</span><span class="numerator">dt</span></span>
		= &minus;x(x<sup>2</sup> &minus; 1) &minus; ry + q cos(wt) <br>
	</p>
</div>

<div>
	<div class="col col-33 formula">
		<p class="formula">
			
		</p>
	</div>
	<div class="col col-33 simulation"></div>
	<div class="col col-33 trajectories"></div>
</div>