<h2><span>Golfstrom</span></h2>

<div class="col col-100 floating-formula">
	<p class="formula" style="margin-top: 20px; margin-right: 10px;">
		<span class="textrm">Diff. Gleichungen: </span>
	</p>
	<p class="formula">
		<span class="textrm">Temperatur: </span>
		<span class="high" style="margin-bottom: 5px;">
			<span class="fraction"><span class="enumerator">dT</span><span class="numerator">dt</span></span>
			= k<sub>T</sub>(T<sub>0</sub> &minus; T) &minus; 2|q(T,S)|T
		</span>
		<br>
		<span class="textrm">Salzgehalt: </span>
		<span class="high">
			<span class="fraction"><span class="enumerator">dS</span><span class="numerator">dt</span></span>
			= k<sub>S</sub>(S<sub>0</sub> &minus; S) &minus; 2|q(T,S)|S
		</span>
	</p>
	<p class="formula lnbr" style="margin-top: 14px;">
		<span class="textrm">mit</span>
		<span class="quad"></span>
	</p>
	<p class="formula" style="margin-top: 14px;">
		T<sub>0</sub> = T<sub>01</sub> &minus; T<sub>02</sub><span class="quad"></span>
	</p>
	<p class="formula" style="margin-top: 14px;">
		S<sub>0</sub> = S<sub>01</sub> &minus; S<sub>02</sub><span class="quad"></span>
	</p>
	<p class="formula">
		&alpha; = 2<span class="fraction">
			<span class="enumerator">ab</span>
			<span class="numerator">k<sub>T</sub></span>
		</span>T<sub>0</sub><span class="quad"></span>
	</p>
	<p class="formula">
		&beta; = 2<span class="fraction">
			<span class="enumerator">ac</span>
			<span class="numerator">k<sub>T</sub></span>
		</span>S<sub>0</sub><span class="quad"></span>
	</p>
	<p class="formula">
		&gamma; = <span class="fraction">
			<span class="enumerator">k<sub>S</sub></span>
			<span class="numerator">k<sub>T</sub></span>
		</span>
	</p>
</div>

<div>
	<div class="col col-50 simulation"></div>
	<div class="col col-50 trajectories"></div>
</div>