<h2><span>Duffing-System</span></h2>

<div class="col col-100 floating-formula">

	<p class="formula" style="margin-top: 10px; margin-right: 10px;">
		<span class="textrm">Diff. Gleichung: </span>
	</p>

	<p class="formula">
		<span class="high" style="margin-bottom: 5px;">
			<span class="fraction"><span class="enumerator">dx</span><span class="numerator">dt</span></span> = y <br>
		</span>
		<br>
		<span class="high">
			<span class="fraction"><span class="enumerator">dy</span><span class="numerator">dt</span></span> =
			&minus;x ( x<sup>2</sup> &minus; 1 ) &minus; ry
		</span>
	</p>

	<p class="formula lnbr" style="margin-top: 14px;">
		<span class="textrm">Gradient: </span>
		&nabla; f(x,y) =<span class="stackrel">!</span> 0
		<span class="rightarrow"></span>
	</p>
	<p class="formula" style="text-align: left;">
		<span class="fraction"><span class="enumerator">dx</span><span class="numerator">dt</span></span> = 
		y =<span class="stackrel">!</span> 0
		<br>
		<span class="fraction"><span class="enumerator">dy</span><span class="numerator">dt</span></span> =
		&minus;x ( x<sup>2</sup> &minus; 1 ) &minus; ry =<span class="stackrel">!</span> 0
		<br>
		<span class="rightarrow"></span>
		y = 0<span class="textrm"> einsetzen:</span>
		&minus;x ( x<sup>2</sup> &minus; 1 ) = 0
		<br>
		<span class="rightarrow"></span>
		x<sub>1</sub> = 1, x<sub>2</sub> = &minus;1, x<sub>3</sub> = 0
	</p>
</div>

<div>
	<div class="col col-50 simulation"></div>
	<div class="col col-50 trajectories"></div>
</div>