<h2><span>Räuber/Beute mit Kapazität</span></h2>

<table class="formula">
<tbody>
	<tr>
		<td style="text-align: left;">
			<table class="formula">
			<tbody>
				<tr>
					<td style="text-align: left;">
						<span class="textrm">Beute:</span>
					</td>
					<td style="text-align: left;">
						<span class="high include2rows">
						<span class="fraction"><span class="enumerator">dx</span><span class="numerator">dt</span></span> = 
						ax( 1 &minus; <span class="fraction"><span class="enumerator">x</span><span class="numerator">K</span></span> ) &minus; bxy
						</span>
					</td>
				</tr>
				<tr>
					<td style="text-align: left;">
						<span class="textrm">Räuber:</span>
					</td>
					<td style="text-align: left;">
						<span class="high include2rows">
						<span class="fraction"><span class="enumerator">dy</span><span class="numerator">dt</span></span>
			= cxy &minus; dy
						</span>
					</td>
				</tr>
			</tbody>
			</table>
		</td>
		<td>

		</td>
		<td>
			= &nabla; f(x,y) =<span class="stackrel">!</span> 0</td>
		<td>&#8658;</td>
		<td style="text-align: left;">
			y = <span class="fraction"><span class="enumerator">a</span><span class="numerator">b</span></span>( 1 - <span class="fraction"><span class="enumerator">&nbsp;d&nbsp;</span><span class="numerator">Kc</span></span> ) <br>
			x = <span class="fraction"><span class="enumerator">d</span><span class="numerator">c</span></span>
		</td>
		<td>
			<table class="formula" style="margin-bottom: 0px;">
			<tbody>
				<tr>
					<td rowspan="2">, Jf(x,y) = <span class="over2rows">(</span></td>
					<td style="margin-right: 10px;">
						a&minus;<span class="fraction"><span class="enumerator">2ax</span><span class="numerator">K</span></span>&minus;by
					</td>
					<td>
						&minus;bx
					</td>
					<td rowspan="2"><span class="over2rows">)</span></td>
				</tr>
				<tr>
					<td style="margin-right: 10px;">
						cy
					</td>
					<td>
						cx&minus;d
					</td>
				</tr>
			</tbody>
			</table>
		</td>
	</tr>
</tbody>
</table>

<div>
	<div class="col col-33 formula">
		<p class="formula">
			...
		</p>
	</div>
	<div class="col col-33 simulation"></div>
	<div class="col col-33 trajectories"></div>
</div>