<h2><span>Pendel</span></h2>

<div class="col col-100">
	
	<table class="formula">
	<tbody>
		<tr>
			<td>
				<span class="high">&Theta;'' + c<sub>1</sub>sin(&Theta;) + c<sub>2</sub>&Theta;' = 0</span>
			</td>
			<td>&#8658;</td>
			<td>
				<span class="small">
				&Theta;<sub>1</sub> = &Theta; <br>
				&Theta;<sub>2</sub> = &Theta;'
				</span>
			</td>
			<td>&#8658;</td>
			<td style="text-align: left;">
				&Theta;<sub>1</sub>' = &Theta;<sub>2</sub> <br>
				&Theta;<sub>2</sub>' = &minus;c<sub>1</sub>sin(&Theta;<sub>1</sub>) &minus; c<sub>2</sub>&Theta;<sub>2</sub>
			</td>
			<td>
				= &nabla; f
			</td>
			<td>&#8658;</td>
			<td>
				<table style="margin-bottom: 0px;">
				<tbody>
					<tr>
						<td rowspan="2">Jf = <span class="over2rows">(</span></td>
						<td>
							0
						</td>
						<td>
							1
						</td>
						<td rowspan="2"><span class="over2rows">)</span></td>
					</tr>
					<tr>
						<td style="padding-right: 10px;">
							&minus;c<sub>1</sub>cos(&Theta;<sub>1</sub>)
						</td>
						<td>
							&minus;c<sub>2</sub>
						</td>
					</tr>
				</tbody>
				</table>
			</td>
		</tr>
	</tbody>
	</table>
</div>

<div>
	<div class="col col-33 formula">
		<p class="formula pull-back">
			P<sub>Jf</sub>(&lambda;) = <br>
			(&minus;&lambda;)(&minus;c<sub>2</sub> &minus; &lambda;) + c<sub>1</sub>cos(&Theta;<sub>1</sub>) = <br>
			&lambda;<sup>2</sup> + &lambda;c<sub>2</sub> + c<sub>1</sub>cos(&Theta;<sub>1</sub>)
		</p>
		<p class="formula">
			&lambda;<sub>1,2</sub> = 
			<span class="small">
				<span class="fraction include2rows"><span class="enumerator" style="top: -1.2em;">
					&minus;c<sub>2</sub>
					+/&minus;
					<span class="sqrt">
						c<sub>2</sub><sup>2</sup> - 4 cos(&Theta;<sub>1</sub>)		
					</span>
				</span><span class="numerator">2</span></span>
			</span> <br>
	</div>
	<div class="col col-33 simulation"></div>
	<div class="col col-33 trajectories"></div>
</div>