<h2><span>Van der Pol System</span></h2>


<div class="col col-100">
	<table class="formula">
	<tbody>
		<tr>
			<td>
				x&#776; &minus; a(1 &minus; x<sup>2</sup>)x&#775; + x = 0
			</td>
			<td>&#8658;</td>
			<td>
				x<sub>1</sub> = x <br>
				x<sub>2</sub> = x&#775;
			</td>
			<td>&#8658;</td>
			<td style="text-align: left;">
				x&#775;<sub>1</sub> = x<sub>2</sub> <br>
				x&#775;<sub>2</sub> = a(1-x<sub>1</sub><sup>2</sup>)x<sub>2</sub> &minus; x<sub>1</sub>
			</td>
			<td>
				= &nabla; f
			</td>
		</tr>
	</tbody>
	</table>
</div>

<div>
	<div class="col col-33 formula">
		<p class="formula">
			...
		</p>
	</div>
	<div class="col col-33 simulation"></div>
	<div class="col col-33 trajectories"></div>
</div>