<h2><span>Chaos</span></h2>


<div class="col col-100 floating-formula">
	<p class="formula" style="margin-top: 20px; margin-right: 10px;">
		<span class="textrm">Diff. Gleichungen: </span>
	</p>
	<p class="formula">
		<span class="high" style="margin-bottom: 5px;">
			<span class="fraction"><span class="enumerator">dx</span><span class="numerator">dt</span></span>
			= y 
		</span>
		<br>
		<span class="high">
			<span class="fraction"><span class="enumerator">dy</span><span class="numerator">dt</span></span>
			= &minus;x(x<sup>2</sup> &minus; 1) &minus; ry + q cos(wt)
		</span>
	</p>
</div>

<div>
	<div class="col col-50 simulation"></div>
	<div class="col col-50 trajectories"></div>
</div>