<div class="col col-100 center">
	<h1><span>Zustands&shy;raum&shy;diagramme</span></h1>
	<h3><span>und deren Trajektorien</span></h3>
</div>

<div>
	<div class="col col-25"></div>
	<div class="col col-50">
		<ul style="margin-bottom: 50px;">
			<li><a class="route" href="/slide/schwingung">Masse-Feder-Dämpfung</a></li>
			<li><a class="route" href="/slide/pendel">Pendel</a></li>
			<li><a class="route" href="/slide/raeuberbeute">Räuber/Beute</a></li>
			<li><a class="route" href="/slide/raeuberbeutekapazitaet">Räuber/Beute mit Kapazität</a></li>
			<li><a class="route" href="/slide/duffing">Duffing-System</a></li>
			<li><a class="route" href="/slide/vanderpol">Van der Pol System</a></li>
			<li><a class="route" href="/slide/chaos">Chaos</a></li>
			<li><a class="route" href="/slide/gulf">Golfstrom</a></li>
		</ul>
	</div>
	<div class="col col-25"></div>
</div>

