<h2><span>Zustandstrajektorien</span></h2>

<div class="col col-100 param-selection">
	<div class="selection" data-params='{"T01":1.2,"S01":0.8,"T02":0.8,"S02":1.2,"kT":1,"kS":1,"a":1.0}'>
		<span>Realitätsnaher Zustand</span>
	</div>
	<div class="selection" data-params='{"T01":1.2,"S01":0.8,"T02":0.8,"S02":0.2,"kT":1,"kS":1,"a":1.0}'>
		<span>Abgeschmolzene Arktis</span>
	</div>

	<div class="selection" data-params='{"T01":2,"S01":2,"T02":0.8,"S02":0.2,"kT":0.7,"kS":0.2,"a":1.21}'>
		<span>2 Nullstellen</span>
	</div>

	<div class="selection" data-params='{"T01":1.8,"S01":1.9,"T02":0.8,"S02":0.2,"kT":1.2,"kS":0.2,"a":1.2}'>
		<span>3 Nullstellen, 2 mit q&gt;0</span>
	</div>
	<div class="selection" data-params='{"T01":1.2,"S01":2,"T02":0.7,"S02":1.6,"kT":0.3,"kS":1.8,"a":1.7}'>
		<span>3 Nullstellen, 2 mit q&lt;0</span>
	</div>
</div>

<div>
	<div class="col col-33 tempsalt"></div>
	<div class="col col-33 flow"></div>
	<div class="col col-33 analysis"></div>
</div>